# node dependencies
node_modules/


# Maven target folder
/target/

# Maven Wrapper jar (keep it tracked)
!.mvn/wrapper/maven-wrapper.jar

# Maven Wrapper folder (keep other .mvn files tracked)
/.mvn/wrapper/

# Ignore everything else in .mvn except wrapper files
.mvn/**/*
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Exclude build output folders in src
!**/src/main/**/target/
!**/src/test/**/target/

# STS (Spring Tool Suite) files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code settings folder
.vscode/

# Logs
*.log
logs/

# Environment variables files
.env

# OS files
.DS_Store
Thumbs.db